@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

/*
	Created by Vincentius Mickey Satya Wisesa
*/

/* Header */

	#header {
		body.is-preload & {
			opacity: 1;

			footer {
				@include vendor('transform', 'none');
				opacity: 1;
			}
		}
	}